In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame({"data": [[{'1':'11'},{'2':'12'},{'3':'13'},], [{'11':'111'},{'22':'122'},{'33':'133'},], []],
                   "datetime": ['2020-12-20', '2001-06-01', '1995-01-30']},
                  index=[1, 2, 3])

In [13]:
df.explode('data')

            data    datetime
1    {'1': '11'}  2020-12-20
1    {'2': '12'}  2020-12-20
1    {'3': '13'}  2020-12-20
2  {'11': '111'}  2001-06-01
2  {'22': '122'}  2001-06-01
2  {'33': '133'}  2001-06-01
3            NaN  1995-01-30