In [4]:
import pandas as pd
import sketch

In [3]:
#create DataFrame
df = pd.DataFrame({'team': ['Mavs, West, East', 'Spurs, West', 'Nets, East, South, North',],
 'points': [112, 104, 127]})

#view DataFrame
df

                       team  points
0          Mavs, West, East     112
1               Spurs, West     104
2  Nets, East, South, North     127

In [5]:
df.sketch.howto("Split team each part on new line")

In [6]:
# Split team each part on new line
df['team'] = df['team'].str.split(',')
df = df.explode('team')
df

     team  points
0    Mavs     112
0    West     112
0    East     112
1   Spurs     104
1    West     104
2    Nets     127
2    East     127
2   South     127
2   North     127