In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('list_services.csv', usecols=['services'])

In [3]:
FX = lambda row_: row_[row_.find('title')+9:row_.find('cost')-4]
df['titles'] = df.services.apply(FX)
df.sample(3)

,services,titles
161,"[{'id': 10922882, 'title': 'Моделирование лица...",Моделирование лица и тела/120 мин
52,"[{'id': 10922882, 'title': 'Моделирование лица...",Моделирование лица и тела/120 мин
77,"[{'id': 10922873, 'title': 'Ручной лифтинг лиц...",Ручной лифтинг лица/60 мин

In [4]:
df = df.loc[df.services != '[]']
df.groupby('titles')['titles'].count().sort_values(ascending=False)

titles
Моделирование лица и тела/120 мин                                            44
Ручной лифтинг лица/60 мин                                                   25
Ручной лифтинг лица+коррекция осанки/90 мин                                  22
Альгинатная маска                                                            11
Первый визит: диагностика + моделирование лицо/тело (одна зона) / 30 мин.    11
Моделирование тела/60 мин                                                     7
Коррекция осанки/40 мин                                                       3
Ручной лифтинг лица/90 мин                                                    3
Мужская Коррекция осанки/40 мин                                               2
Мужское Моделирование лица и тела/120 мин                                     2
Чёткий контур + Буккальная техника/60 мин                                     2
Моделирование тела/90 мин                                                     1
Услуга                                                                        1
штраф 500 р                                                                   1
Name: titles, dtype: int64